

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

img {
  width: 24px;
  height: 24px;
}



button {
  border-radius: 4px;
  border: none;
  padding: 7px;
  width: 180px;
  height: 40px;
  cursor: pointer;
}

.primary {
  color: white;
  background-color: #3e6ae1;
}

.secondary {
  color: black;
  background-color: white;
}



/* nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 48px;
  z-index: 1000;
  padding: 16px 48px;
} */

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 48px;
}

.nav-icons{
    display: flex;
    gap: 16px;
    align-items: end;

}


.logo {
  width: 124px;
  height: 24px;
}

.dropmenu {
  display: flex;

  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  position: relative;
  cursor: pointer;
  font-weight: 500;
}



.dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -10px);

  width: 100vw;
  background: white;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 0.2s ease, transform 0.2s ease;
}

.menu-item:hover .dropdown {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translate(-50%, 0);
}

.dropdown-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 48px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.dropdown h4 {
  margin: 0;
  font-size: 18px;
}

.dropdown p {
  margin-top: 6px;
  font-size: 14px;
  color: #666;
}



main {
  min-height: 100vh;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Promo-Meet-Model-Y-Desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero h3,
#hero p {
  color: white;
  margin: 0;
}

#hero p {
  font-size: 20px;
}

#hero h3 {
  font-size: 48px;
}

#hero div {
  margin-top: 24px;
  display: flex;
  gap: 12px;
}


#courosel {
  display: flex;
  gap: 20px;
  padding: 28px;
  overflow-x: auto;

  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#courosel::-webkit-scrollbar {
  display: none;
}


.card {
  width: 1024px;
  height: 360px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 15px;
  border-radius: 15px;
  color: white;

  scroll-snap-align: start;
  flex-shrink: 0;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-1 {
  background-image: url("assets/card 1.avif");
}

.card-2 {
  background-image: url("assets/card 2.avif");
}

.card-3 {
  background-image: url("assets/card 3.avif");
}


.dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 40px;
}

.dot {
  width: 8px;
  height: 8px;
  background: #bbb;
  border-radius: 50%;
}

.dot.active {
  background: #000;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 48px;
    
}

footer a{
    color: #000;
    text-decoration: none;
    margin: 0 12px;
    font-size: 14px;
    cursor: pointer;
}